<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mynewapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".Activities.DemoActivity"></activity>
        <activity android:name=".Activities.BarActivity" />
        <activity android:name=".Activities.Subject_Delete1_Activity" />
        <activity android:name=".Activities.MapActivity" />
        <activity android:name=".Activities.Student_Delete1_Activity" />
        <activity android:name=".Activities.Student_Update2_Activity" />
        <activity android:name=".Activities.ForgetPassword5_Activity" />
        <activity android:name=".Activities.ForgetPassword4_Activity" />
        <activity android:name=".Activities.ForgetPassword3_Activity" />
        <activity android:name=".Activities.ForgetPassword2_Activity" />
        <activity android:name=".Activities.ForgetPassword1_activity" />
        <activity android:name=".Activities.Student_Update1_Activity" />
        <activity
            android:name=".Activities.Teacher_Update_1Activity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activities.Home1Activity" />
        <activity android:name=".Activities.Teacher_Delete_Activity" />
        <activity android:name=".Activities.Student_Delete_Activity" />
        <activity android:name=".Activities.Subject_Delete_Activity" />
        <activity android:name=".Activities.Subject_Add_Activity" />
        <activity android:name=".Activities.Teacher_Update_Activity" />
        <activity android:name=".Activities.Student_Update_Activity" />
        <activity android:name=".Activities.Registration3Activity" />
        <activity android:name=".Activities.UserProfileActivity" />
        <activity android:name=".Activities.Registration2Activity" />
        <activity android:name=".Activities.OnBoarding_Activity" />
        <activity android:name=".Activities.ShowAttendanceActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.AttendanceActivity" />
        <activity android:name=".Activities.DateActivity" />
        <activity android:name=".Activities.BarChartActivity" />
        <activity android:name=".Activities.StudentActivity" />
        <activity android:name=".Activities.UserHomeActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Activities.RegistrationActivity" />
        <activity android:name=".Activities.CourseActivity" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".Activities.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>